@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
:root {
  --yellow: #ffcb05;
  --blue: #3d7dca;
  --navy-blue: #003a70;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(99deg, var(--blue), var(--navy-blue));
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main__title {
  margin-block: 3rem;
  font-size: 5rem;
}
.container {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 2rem;
  text-align: center;
}
.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.card {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  cursor: pointer;
}
.card:hover {
  animation: jello 1s;
}
.card__title {
  margin-bottom: 2rem;
}
.card__image {
  max-width: 100%;
  height: 180px;
}
.Pokémon__logo {
  margin-block: 1rem;
}
@keyframes jello {
  from,
  11.1%,
  to {
    transform: none;
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
